PORT=3333
NODE_ENV=dev

IS_LOCALHOST=true

ENABLED_CORS=https://www.google.com;http://localhost;
JWT_SECRET=chave-muito-secreta-B0BY+QXav67=

DB_HOST=localhost
DB_USER=root
DB_NAME=controle-financeiro-programado
DB_PASSWORD=root
DB_PORT=3306