.container {
    max-width: 100%;
    height: 100vh;

    background-image: url("../../assets/oinkCopy.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

.containerCardLogin {
    max-width: 30%;
    background-color: #fff;
    opacity: 70%;
    padding: 40px;
    text-align: center;
    height: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.campoNomeLogin, .campoSenhaLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
}